body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff; /* White background color */
    color: #333; /* Dark text color */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #fff; /* White header background color */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for header */
    text-align: center;
}
h1 {
    font-family: 'Impact', sans-serif; /* Font from Google */
    margin: 0; 
    text-align: left; 
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}
.nav-personal-reels {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Impact';

}
/*
nav a {
    font-family: 'Roboto', sans-serif; /* Font from Google 
    margin: 0; 
    text-align: right; 
}
*/
main {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-grid {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    max-width: 800px; /* Set a maximum width for the video grid */
    margin: 0 auto; /* Center the video grid */
    background-color: #fff; /* White background color for the video grid */
}
.video-title-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(97, 91, 91, 0.7); /* Semi-transparent black background */
    color: #000000; /* White text color */
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.video-row {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.video-cell {
    flex: 1;
    position: relative;
}

.main-video{
    max-width: 800px;
}
.portrait-video {
    width: 100%;
    max-width: 400px; /* Set a maximum width for the videos */
    height: auto;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
footer {
    background-color: #fff; /* White footer background color */
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for footer */
    margin-top: auto;
    text-align: center;
}
 /* Media Query for smaller screens */
 @media only screen and (max-width: 600px) {
    h1 {
        font-size: 18px; /* Adjust font size for smaller screens */
    }

    nav a {
        font-size: 12px; /* Set smaller font size for navigation links on smaller screens */
    }

    .video-title {
        font-size: 20px; /* Set smaller font size for video titles on smaller screens */
    }

    .main-video,
    .portrait-video {
        max-width: 100%; /* Adjust max-width for smaller screens */
    }
}